<html>
  <head>
    <title>
      Anonode
    </title>
  </head>
  <body>
    <form method="post" action="/login">
      <input type="text" name="id" placeholder="Username">
      <input type="password" name="pwd" placeholder="*******">
      <button type="submit" name="submit">Login</button>
      
    </form>
  </body>
</html>
